:host {
  --header-height: 60px;
  --breadcrumb-height: 30px;
}

:host {
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 60px 1fr;
  height: 100vh;
}

header {
  grid-column: 1/3;
  grid-row: 1/2;
}

nav {
  grid-column: 1/2;
  grid-row: 2/3;
}

main {
  grid-column: 2/3;
  grid-row: 2/3;
  overflow-y: auto;
}
