/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
}

/* font size 11px*/
%font-ss {
  font-size: 0.687rem;
  &b {
    font-size: 0.687rem;
    font-weight: bold;
  }
}

/* font size 14px*/
%font-s {
  font-size: 0.875rem;
  &b {
    font-size: 0.875rem;
    font-weight: bold;
  }
}

/* font size 16px*/
%font-m {
  font-size: 1rem;
  &b {
    font-size: 1rem;
    font-weight: bold;
  }
}

/* font size 18px*/
%font-l {
  font-size: 1.125rem;
  &b {
    font-size: 1.125rem;
    font-weight: bold;
  }
}

/* font size 24px*/
%font-xl {
  font-size: 1.5rem;
  &b {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

/* under-line*/
%under-line {
  border-bottom: solid 3px rgb(194, 193, 193);
}

/* font color*/
%color-1 {
  color: #0000;
}
%color-2 {
  color: #bebebe;
}
%color-3 {
  color: #ffff;
}
%color-4 {
  color: #273d75;
}

/* 要素の位置*/
// 中央左寄せ
%center-left {
  display: flex;
  align-items: center;
}

// 中央寄せ
// %center-center {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// 中央右寄せ
// %center-right {
//   display: flex;
//   align-items: center;
//   justify-content: flex-end;
// }

// 下部左寄せ
// %bottom-left {
//   display: flex;
//   align-items: flex-end;
// }

/* 背景*/
// 背景1
%background-1 {
  background-color: #99d3e5;
}

// 背景2
%background-2 {
  background-color: #f2f2f2;
}

// 背景3
%background-3 {
  background-color: #fafafa;
}

// 背景4
%background-4 {
  background-color: #fdfdfd;
}

// 背景5
%background-5 {
  background-color: #00aee4;
}

// 背景6
%background-6 {
  background-color: #e5e5e5;
}

// 背景7
%background-7 {
  background-color: #99c1fc;
}

%background-8 {
  background-color: #f3f3f3;
}

// .display-modal {
//   ul {
//     list-style: none;
//     display: grid;
//     padding-top: 19px;
//     gap: 10px;
//     li {
//       display: grid;
//       label {
//         @extend %font-m;
//         span {
//           color: firebrick;
//           @extend %font-ss;
//         }
//       }
//       input {
//         width: 100%;
//         height: 30px;
//       }
//       textarea {
//         width: 100%;
//         height: 60px;
//         resize: none;
//       }
//       button {
//         width: 100%;
//         @extend %background-1;
//       }
//     }
//   }
// }
