/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

/* font size */
.font-s {
  font-size: 0.6875rem;
  &b {
    font-size: 0.6875rem;
    font-weight: bold;
  }
}
.font-m {
  font-size: 0.8125rem;
  &b {
    font-size: 0.8125rem;
    font-weight: bold;
  }
}
.font-l {
  font-size: 1rem;
  &b {
    font-size: 1rem;
    font-weight: bold;
  }
}
.font-xl {
  font-size: 1.3rem;
  &b {
    font-size: 1.3rem;
    font-weight: bold;
  }
}

/* modal*/
.modal {
  width: 375px;
  display: grid;
}

.input {
  width: 100%;
  height: 20px;
  font-size: 0.6875rem;
}

.textarea {
  width: 100%;
  height: 50px;
  resize: none;
}

/* p-button*/
.button {
  width: 50 px;
  height: 13px;
  font-size: 0.2rem;
  padding: 0.625rem;
}

/* 要素の位置*/

// 中央左寄せ
.center-left {
  display: flex;
  align-items: center;
}

// 中央寄せ
.center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// 中央右寄せ
.center-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
