<!-- メインコンテンツ -->
<div *ngIf="categoryies">
  <section *ngFor="let item of categoryies">
    <h1>{{ item.name }}</h1>
    <article
      class="threads"
      *ngFor="let child of item.thread"
      (click)="onClick(child)"
    >
      <h3>タイトル：{{ child.title }}</h3>
      <span>投稿日時：{{ child.createAt }}</span>
      <p>
        投稿者：{{ child.message[0].name }}&nbsp;&nbsp;&nbsp;<i
          class="pi pi-comments"
        ></i>
        ：{{ child.message.length - 1 }}件
      </p>
    </article>
  </section>
</div>
