@use '../../../styles.scss';

:host {
  > div {
    display: grid;
    gap: 50px;
    // カテゴリ
    > section {
      display: grid;
      gap: 10px;
      // タイトル
      > h1 {
        @extend %font-xlb;
      }
    }
  }
}
