@use '../../../styles.scss';

/* modal*/
%modal {
  width: 375px;
  height: auto;
  display: grid;
  position: fixed;
}

/* p-button*/
@mixin baseButton($bbWidth: 50px, $bbHeight: 25px) {
  width: $bbWidth;
  height: $bbHeight;
  @extend %font-mb;
}

// ul style
@mixin ul-style($gap: 10px, $padding: 10px) {
  list-style: none;
  display: grid;
  padding-top: $padding;
  gap: $gap;
}

/* スレッドリスト*/
article.threads {
  padding-left: 100px;
  border-bottom: solid 1px rgb(194, 193, 193);
  &:hover {
    background-color: #ebebeb;
    cursor: pointer;
  }
}

// /* モーダル表示*/

.display-modal {
  ul {
    @include ul-style();
    li {
      display: grid;
      gap: 5px;
      label {
        @extend %font-m;
        span {
          color: firebrick;
          @extend %font-ss;
        }
      }
      input {
        height: 30px;
      }
      textarea {
        height: 60px;
        resize: none;
      }
      button {
        @extend %background-1;
        border: none;
        &:hover {
          color: #ffff;
          background-color: rgb(126, 126, 129);
        }
      }
    }
  }
}
