<!-- ぱんくず -->
<!-- <project-breadcrumb></project-breadcrumb> -->

<!-- 記事表示 -->
<div *ngIf="thread">
  <!-- タイトル -->
  <h1>{{ thread.title }}</h1>
  <!-- 記事内容 -->
  <ng-container *ngFor="let message of thread.message; index as i">
    <!-- 親記事 -->
    <article *ngIf="i === 0">
      <ul>
        <li>
          <span> 投稿日時：{{ message.createAt }} </span
          ><button
            pButton
            type="button"
            label="編集"
            class="edit"
            (click)="update(message)"
          ></button>
        </li>
        <li>
          <div>
            <p>{{ message.text }}</p>
          </div>
        </li>
        <li>
          <label> 投稿者：{{ message.name }} </label>
        </li>
      </ul>
      <button (click)="createModal()">返信を投稿する</button>
    </article>
    <!-- 子記事 -->
    <article *ngIf="i !== 0">
      <div>
        <p>{{ message.text }}</p>
        <label>投稿者：{{ message.name }}</label>
        <span>投稿日時：{{ message.createAt }}</span>
        <button
          pButton
          type="button"
          label="編集"
          class="edit"
          (click)="update(message)"
        ></button>
      </div>
    </article>
  </ng-container>
</div>

<!-- Modal：編集 -->
<ng-container [formGroup]="editForm" *ngIf="editMessage">
  <p-dialog
    header="投稿編集"
    [(visible)]="editDisplay"
    [resizable]="false"
    [modal]="true"
    [draggable]="false"
    class="display-modal edit"
  >
    <ul>
      <li>
        <label>名前<span>＊30文字以内</span></label>
        <input
          type="text"
          pInputText
          [(ngModel)]="editMessage.name"
          formControlName="name"
        />
      </li>
      <li>
        <label>本文<span>＊300文字以内</span></label>
        <textarea
          pInputTextarea
          [(ngModel)]="editMessage.text"
          formControlName="text"
        ></textarea>
      </li>
      <li>
        <label>編集キー<span>＊半角英数4文字以上6文字以内</span></label>
        <input
          type="text"
          pInputText
          [(ngModel)]="editMessage.editkey"
          formControlName="editkey"
        />
      </li>
      <li>
        <button
          pButton
          type="button"
          label="編集"
          class="edit-submit"
          (click)="edit()"
        ></button>
        <button
          pButton
          type="button"
          label="削除"
          (click)="deleteMessage(editMessage)"
        ></button>
      </li>
    </ul>
  </p-dialog>
</ng-container>

<!-- Modal：返信 -->
<ng-container [formGroup]="resForm" *ngIf="createDisplay">
  <p-dialog
    header="返信投稿"
    [(visible)]="createDisplay"
    [resizable]="false"
    [modal]="true"
    [draggable]="false"
    class="display-modal"
  >
    <ul>
      <li>
        <label>名前</label>
        <input type="text" pInputText formControlName="name" />
      </li>
      <li>
        <label>本文</label>
        <textarea pInputTextarea formControlName="text"></textarea>
      </li>
      <li>
        <label>編集キー<span>＊半角英数4文字以上6文字以内</span></label>
        <input type="text" pInputText formControlName="editkye" />
      </li>
      <li>
        <button
          pButton
          type="button"
          label="投稿"
          [disabled]="resForm.invalid"
          (click)="create()"
        ></button>
      </li>
    </ul>
  </p-dialog>
</ng-container>
