@use '../../../../styles.scss';
@use '../template-style.scss';

:host {
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 35px 1fr;
  gap: 10px;
  > project-breadcrumb {
    grid-column: 1/4;
    grid-row: 1/2;
  }
  > div {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    gap: 10px;

    // タイトル
    > h1 {
      border-left: 8px solid #4e4e4e;
      padding: 5px;
    }

    // 親記事
    > article:first-of-type {
      display: grid;
      gap: 10px;
      > ul {
        @include template-style.ul-style();
        > li:first-child {
          display: grid;
          grid-template-columns: 1fr 60px;
          > span {
            grid-column: 1/2;
          }
          > button {
            grid-column: 2/3;
            @include template-style.baseButton(60px);
          }
        }
        > li {
          display: grid;
          > div {
            @extend %messageBody;
            > p {
              white-space: pre-wrap;
            }
          }
          > label {
            text-align: right;
          }
        }
      }
      > button {
        height: 30px;
        border: none;
        border-radius: 5px;
        @extend %font-m;
        @extend %background-7;
        &:hover {
          color: #ffff;
          background-color: rgb(126, 126, 129);
        }
      }
    }

    // 子記事
    > article {
      display: grid;
      > div {
        display: grid;
        grid-template-columns: 1fr 1fr 60px;
        gap: 10px;
        @extend %messageBody;
        > p {
          grid-column: 1/4;
          white-space: pre-wrap;
        }
        > label {
          grid-column: 1/2;
          @extend %font-s;
        }
        > span {
          grid-column: 2/3;
          @extend %font-s;
        }
        > button {
          grid-column: 3/4;
          @include template-style.baseButton(60px);
        }
      }
    }
  }
}

// 編集modal
.edit {
  ul {
    > li:last-child {
      display: grid;
      grid-template-columns: 70% 30%;
      > button:first-child {
        grid-column: 1/2;
      }
      > button:last-child {
        grid-column: 2/3;
      }
    }
  }
}

// modalレイアウト
::ng-deep.p-dialog {
  @extend %modal;
}
::ng-deep.p-dialog .p-dialog-header {
  @extend %background-1;
  @extend %color-3;
}

// 投稿記事・返信記事
%messageBody {
  @extend %background-8;
  box-shadow: none;
  border-radius: 8px;
  padding: 0.5rem;
}

// :host {
//   > div {
//     // 親記事
//     > article.parent {
//       display: grid;
//       gap: 10px;
//       > h1 {
//         border-left: 8px solid #4e4e4e;
//         padding: 5px;
//       }
//       > ul {
//         padding-left: 10%;
//         padding-right: 10%;
//         @include template-style.ul-style();

//         > li {
//           display: grid;
//           grid-template-columns: 1fr 60px;
//           > span {
//             grid-column: 1/2;
//           }
//           > .edit {
//             grid-column: 2/3;
//             @include template-style.baseButton(60px 30px);
//           }
//           > div {
//             grid-column: 1/3;
//             @extend %messageBody;
//           }
//           > label {
//             text-align: right;
//             grid-column: 1/3;
//           }
//           > .submit {
//             grid-column: 1/3;
//             height: 30px;
//             border: none;
//             border-radius: 5px;
//             @extend %background-7;
//             &:hover {
//               color: #ffff;
//               background-color: rgb(126, 126, 129);
//             }
//           }
//         }
//       }
//     }
//     // 子記事
//     > article.child {
//       padding-left: 10%;
//       padding-right: 10%;
//       // background-color: brown;
//       > ul {
//         @include template-style.ul-style();
//         > li:first-child {
//           > div {
//             width: 100%;
//             @extend %messageBody;
//           }
//         }
//         > li:last-child {
//           display: grid;
//           column-gap: 5px;
//           grid-template-columns: 1fr 1fr 50px;
//           > label {
//             grid-column: 1/2;
//           }
//           > span {
//             grid-column: 2/3;
//             text-align: right;
//           }
//           > button {
//             grid-column: 3/4;
//             @include template-style.baseButton();
//           }
//         }
//       }
//     }
//   }
// }
