<!-- ぱんくず -->
<!-- <project-breadcrumb></project-breadcrumb> -->

<div class="container" *ngIf="thread">
  <!-- 記事表示 -->
  <ng-container
    *ngFor="let message of thread.message; index as i"
    [ngTemplateOutlet]="params"
    [ngTemplateOutletContext]="{ message: message, index: i }"
  >
  </ng-container>
</div>

<!-- 記事表示 -->
<ng-template #params let-message="message" let-index="index">
  <!-- 親記事 -->

  <div class="parent" *ngIf="index === 0">
    <h1>{{ thread.title }}</h1>
    <span>投稿日時：{{ message.createAt }}</span>
    <p-button label="編集" (click)="update(message)"></p-button>
    <p>{{ message.text }}</p>
    <label>投稿者：{{ message.name }}</label>
  </div>

  <!-- 子記事 -->
  <!-- <div class="child" *ngIf="index !== 0">
    <label>名前</label>
    <p>{{ message.name }}</p>

    <label>投稿日時</label>
    <p>{{ message.createAt }}</p>

    <label>本文</label>
    <p>{{ message.text }}</p>

    <p-button label="編集" (click)="update(message)"></p-button>
  </div> -->
</ng-template>

<!-- 編集：Modal -->
<ng-container [formGroup]="editForm" *ngIf="editMessage">
  <p-dialog header="投稿編集" [(visible)]="editDisplay">
    <div class="edit">
      <div class="edit-name">
        <label>名前</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="editMessage.name"
          formControlName="name"
        />
      </div>
      <div class="edit-text">
        <label>本文</label>
        <textarea
          pInputTextarea
          [(ngModel)]="editMessage.text"
          formControlName="text"
        ></textarea>
      </div>
      <div class="edit-submit">
        <label>編集キー</label>
        <input
          type="text"
          pInputText
          [(ngModel)]="editMessage.editkey"
          formControlName="editkey"
        />
      </div>
      <div class="button">
        <p-button label="編集" (click)="edit()"></p-button>
        <p-button label="削除" (click)="deleteMessage(editMessage)"></p-button>
      </div>
    </div>
    <ng-container *ngIf="response">
      <p *ngIf="!response.status">{{ response.message }}</p>
    </ng-container>
  </p-dialog>
</ng-container>
<!-- 返信投稿 -->
<!-- <div class="resForm" [formGroup]="resForm">
      <p>返信投稿</p>
      <div class="create-name">
        <label>名前</label>
        <input
          type="text"
          pInputText
          formControlName="name"
          placeholder="30文字以内"
        />
      </div>
      <div class="create-text">
        <label>本文</label>
        <textarea
          pInputTextarea
          formControlName="text"
          placeholder="300文字以内"
        ></textarea>
      </div>
      <div class="submit">
        <div class="create-editkey">
          <label>編集キー</label>
          <input
            type="text"
            pInputText
            formControlName="editkye"
            placeholder="半角英数4文字以上6文字以内"
          />
        </div>
        <div class="submit-button">
          <p-button
            label="投稿"
            [disabled]="resForm.invalid"
            (click)="create()"
          ></p-button>
        </div>
      </div>
    </div> -->
