@use '../../../styles.scss';

// コンテナ

:host {
  display: grid;
  place-items: center;
  .container {
    padding: 5px;
    width: 85%;
  }
}

// 見出し
.name {
}

// スレッドタイトルの表示
p {
  @extend .font-s;
  @extend .center-center;
  padding-top: 10px;
  border-bottom: solid 1px #d7e0e9;
}
// ホバー時
p:hover {
  cursor: pointer;
}
