@use '../../../styles.scss';

// コンテナ

:host {
  display: grid;
  place-items: center;
  .container {
    padding: 5px;
    width: 95%;
  }
}

// 見出し
h3 {
  background: linear-gradient(transparent 80%, #a7d6ff 70%);
  width: 130px;
}

// スレッドタイトルの表示
p {
  @extend .font-m;
  padding-top: 10px;
  border-bottom: solid 1px #d7e0e9;
}
// ホバー時
p:hover {
  cursor: pointer;
}
