@use '../../../../styles.scss';

div {
  background-color: #99d3e5;
  height: 60px;
  @extend .center-left;
  .pi {
    @extend .font-xl;
    color: white;
  }
  .pi:hover {
    cursor: pointer;
  }
}
