<!-- ぱんくず -->
<!-- <project-breadcrumb></project-breadcrumb> -->

<div *ngIf="category">
  <section>
    <h1>{{ category.name }}</h1>
    <button
      pButton
      type="button"
      label="新規投稿"
      (click)="switchModal()"
    ></button>
    <article
      class="threads"
      *ngFor="let thread of category.thread"
      (click)="onClick(thread)"
    >
      <h3>タイトル：{{ thread.title }}</h3>
      <span>投稿日時：{{ thread.createAt }}</span>
      <p>
        投稿者：{{ thread.message[0].name }}&nbsp;&nbsp;&nbsp;<i
          class="pi pi-comments"
        ></i>
        {{ thread.message.length - 1 }}件
      </p>
    </article>
  </section>
</div>

<!-- 投稿：Modal -->
<ng-container [formGroup]="createForm" *ngIf="display">
  <p-dialog
    header="新規投稿"
    [(visible)]="display"
    [resizable]="false"
    [modal]="true"
    [draggable]="false"
    class="display-modal"
  >
    <ul>
      <li>
        <label>タイトル<span>＊30文字以内</span></label>
        <input type="text" pInputText formControlName="title" />
      </li>
      <li>
        <label>名前<span>＊30文字以内</span></label>
        <input type="text" type="text" pInputText formControlName="name" />
      </li>
      <li>
        <label>本文<span>＊300文字以内</span></label>
        <textarea pInputTextarea formControlName="text"></textarea>
      </li>
      <li>
        <label>編集キー<span>＊半角英数4文字以上6文字以内</span></label>
        <input type="text" pInputText formControlName="editkey" />
      </li>
      <li>
        <button
          pButton
          type="button"
          label="投稿"
          [disabled]="createForm.invalid"
          (click)="create()"
        ></button>
      </li>
    </ul>
  </p-dialog>
</ng-container>
