@use '../../../../styles.scss';

:host {
  > div {
    padding: 10px;
    > section {
      display: grid;
      gap: 10px;
    }
  }
}

// modalレイアウト
::ng-deep.p-dialog {
  @extend %modal;
}
::ng-deep.p-dialog .p-dialog-header {
  @extend %background-1;
  @extend %color-3;
}
