:host {
  --header-height: 30px;
}

div {
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-columns: 100px 1fr;

  header {
    grid-row: 1/2;
    grid-column: 1/3;
    height: var(--header-height);
    z-index: 99;
  }
  nav {
    grid-row: 2/3;
    grid-column: 1/2;
    z-index: 98;
  }
  main {
    grid-row: 2/3;
    grid-column: 2/3;
    height: calc(100vh - var(--header-height));
    overflow-y: auto;
  }
}
